
  <!DOCTYPE html>
  <html>
  <head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Live demonstrations</title>
  
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/datepicker3.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
  <script src="/js/hints.js"></script>
  <!--Icons-->
  <script src="/js/lumino.glyphs.js"></script>
  
  </head>
  
  <body>
	  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		  <div class="container-fluid">
			  <div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					  <span class="sr-only">Toggle navigation</span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
				  </button>
				  <ul class="user-menu">
					  <li class="dropdown pull-right">
  
						  <ul class="dropdown-menu" role="menu">
						  </ul>
					  </li>
				  </ul>
			  </div>
		  </div><!-- /.container-fluid -->
	  </nav>
		  
	  <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
	  <br/><br/>
		  <center> 		
			  <img src="/img/logo.svg" width="60%" height="60%"/> 		<br/> 		
			  <p style="color:#515594; font-size:1.7em;">OWASP S.K.F</p>  	
		  </center>
	  </div><!--/.sidebar-->
		  
	  <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		  <div class="row">
  
		  </div><!--/.row-->
		  
		  <div class="row">
			  <div class="col-lg-12">
				  <h1 class="page-header">Live demonstration!</h1>
			  </div>
		  </div><!--/.row-->
				  
		  
		  <div class="row">
			  <div class="col-lg-12">
				  <div class="panel panel-default">
					  <div class="panel-heading">
						  Speedrun
					  </div>
					  <div class="panel-body">
						  <div><img src="/img/race.jpg" width="200px"></div><br />
					  <div id="logdata-header">
							  <b>Congratulations, you won your racing car!</b><br/>
							  <div id="personal">Here you can provide your name to the board system.</div><br/>
							  	<div id="personal-block">
									<div th:if="${action == 'run'}">
								  <form name="personal-form" action="/" method="GET">
									  Your name: <input type="text" name="person" value="Default User">
									  <input type="hidden" name="action" value="validate">
									  <input type="submit" value="Make it mine!">
								  </form>
								  <br/>
								  Check this out: <div id="system-message" style="color: white; background-color: black; display: inline-block; padding: 5px;"><b><th:block th:text="${hello}"></th:block></b>
								  </div>
								  <br/><br/><a href="/?action=reset">Reset the system (use with caution)</a>
								</div>
								  <div th:if="${action == 'validate'}">
								  <form name="personal-form" action="/" method="GET">
									  Validation performed, you can boot the system now.
									  <input type="hidden" name="action" value="run">
									  <input type="submit" value="Boot!">
								  </form>
								 
								  <br/><br/><a href="/?action=reset">Reset the system (use with caution)</a>
								</div>
								<div th:if="${action == 'reset'}">
								  <form name="personal-form" action="/" method="GET" >
									  System was rebooted, go to the initial state.
									  <input type="hidden" name="action" value="run">
									  <input type="submit" value="Go">
								  </form>
								</div>
							  </div>
						  <br/>
					  </div>
				  </div>
			  </div><!-- /.col-->
		  </div><!-- /.row -->
	  
	  </div><!--/.main-->
  
	  <script src="/js/jquery-1.11.1.min.js"></script>
	  <script src="/js/bootstrap.min.js"></script>
	  <script>
		  !function ($) {
			  $(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				  $(this).find('em:first').toggleClass("glyphicon-minus");	  
			  }); 
			  $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		  }(window.jQuery);
  
		  $(window).on('resize', function () {
			if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		  })
		  $(window).on('resize', function () {
			if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		  })
  
		  function getRndInteger(min, max) {
			  return Math.floor(Math.random() * (max - min + 1) ) + min;
		  }
		  var nr = getRndInteger(99999999,99999999999);
		  document.getElementById('imageBox').src = "/img/bones.png?" + nr;
  
	  </script>	
  </body>
  
  </html>
  