/*
Lumino Admin Bootstrap Template
Version 1.0
*/

* { box-sizing: border-box; }
img { display: block; } 

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.eot?51654781');
  src: url('../fonts/fontello/fontello.eot?51654781#iefix') format('embedded-opentype'),
       url('../fonts/fontello/fontello.woff2?51654781') format('woff2'),
       url('../fonts/fontello/fontello.woff?51654781') format('woff'),
       url('../fonts/fontello/fontello.ttf?51654781') format('truetype'),
       url('../fonts/fontello/fontello.svg?51654781#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*Global Styles*/

body {
	min-height: 100vh;
	color: #5f6468;
	font-size: 1em;
    line-height: 1.75em;
	transition: background 0.2s ease-in-out 0s;
    background: radial-gradient(at top center,rgba(255,255,255,.5),transparent 75vw),radial-gradient(at bottom center,rgba(255,255,255,.5),transparent 75vw),radial-gradient(circle at top left,rgba(81,85,148,.5),transparent 75vw),radial-gradient(at top right,rgba(229,103,105,.5),transparent 75vw),radial-gradient(at bottom left,rgba(229,103,105,.5),transparent 75vw),radial-gradient(at bottom right,rgba(81,85,148,.5),transparent 75vw);	
}

p {
	color: #777;
}

a, a:hover, a:focus {
	color: #30a5ff;
}

h1, h2, h3, h4, h5, h6 {
	color: #5f6468;
}

h1 {
	font-weight: 300;
	font-size: 40px;
}

h2 {
	font-weight: 300;
	margin-bottom: 20px;
}

h3, h4 {
	font-weight: 300;
}

.text-muted {
	color: #9fadbb;
}

.color-gray { color: #5f6468; }
.color-blue { color: #30a5ff; }
.color-teal { color: #1ebfae; }
.color-orange { color: #ffb53e; }
.color-red { color: #f9243f; }

.bg-primary .glyphicon-remove { color: #5f6468;}
.bg-primary .glyphicon-remove:hover { color: #ef4040;}

.no-padding {
	padding: 0; margin: 0;
}

.glyphicon-xl {
	font-size: 6em;
}

.glyphicon-l {
	font-size: 3em;
}

.glyphicon-m {
	font-size: 1.5em;
}

.glyphicon-s {
	font-size: 0.75em;
}

.form-control {
	border: 1px solid #eee;
	box-shadow: none;
}

.form-control:focus {
	border: 1px solid #30a5ff;
	outline: 0;
	box-shadow: inset 0px 0px 0px 1px #30a5ff;
}

.navbar-header .navbar-brand {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
}

.navbar-header .navbar-brand span {
	color: #30a5ff;
}

/*Buttons*/

a.btn:hover,
button:hover {
	opacity: 0.8;
}

a.btn:active,
button:active {
	box-shadow: inset 0px 0px 500px rgba(0,0,0,.1);
	opacity: 1;
}

.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default,
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
	background-color: #e9ecf2;
	border-color: #e9ecf2;
	color: #1b3548;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary,
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
	background-color: #30a5ff;
	border-color: #30a5ff;
}

.btn-success,
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success,
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
	background-color: #8ad919;
	border-color: #8ad919;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning,
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
	background-color: #ffb53e;
	border-color: #ffb53e;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger,
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
	background-color: #f9243f;
	border-color: #f9243f;
}

/*Backgrounds*/

.bg-primary {
	color: #1b3548;
	background-color: #e9ecf2;
}
a.bg-primary:hover {
	background-color: #e9ecf2;
}
.bg-success {
	color: #fff;
	background-color: #8ad919;
}
a.bg-success:hover {
	background-color: #8ad919;
}
.bg-success a {
	color: rgba(255, 255, 255, .75);
}
.bg-info {
	color: #fff;
	background-color: #30a5ff;
}
a.bg-info:hover {
	background-color: #30a5ff;
}
.bg-info a {
	color: rgba(255, 255, 255, .75);
}
.bg-warning {
	color: #fff;
	background-color: #ffb53e;
}
a.bg-warning:hover {
	background-color: #ffb53e;
}
.bg-warning a {
	color: rgba(255, 255, 255, .75);
}
.bg-danger {
	color: #fff;
	background-color: #f9243f;
}
a.bg-danger:hover {
	background-color: #f9243f;
}
.bg-danger a {
	color: rgba(255, 255, 255, .75);
}

/*Panels*/

.panel {
	border: 0;
}

.panel-heading { border-bottom: 1px solid #eee; color: #5f6468; }

.panel-footer {
	background: #fff;
	border-top: 1px solid #eee;
}

.panel-footer .input-group {
	padding: 0px;
	margin: 0 -5px;
}

.panel-footer .input-group-btn:last-child>.btn, 
.panel-footer .input-group-btn:last-child>.btn-group {
	margin: 0;
}

.panel-blue { background: #30a5ff; color: #fff; }
.panel-teal { background: #1ebfae; color: #fff; }
.panel-orange { background: #ffb53e; color: #fff; }
.panel-red { background: #f9243f; color: #fff; }

.panel-blue .panel-body p,
.panel-teal .panel-body p,
.panel-orange .panel-body p,
.panel-red .panel-body p { 
	color: #fff; 
	color: rgba(255, 255, 255, .8);
}

.panel-blue .panel-heading,
.panel-teal .panel-heading,
.panel-orange .panel-heading,
.panel-red .panel-heading {
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.panel-blue .text-muted,
.panel-teal .text-muted,
.panel-orange .text-muted,
.panel-red .text-muted { 
	color: rgba(255, 255, 255, .5); 
}

.dark-overlay {
	background: rgba(0, 0, 0, .05);
	text-align: center;
}

.panel-blue { background: #30a5ff; color: #fff; }
.panel-teal { background: #1ebfae; color: #fff; }
.panel-orange { background: #ffb53e; color: #fff; }
.panel-red { background: #f9243f; color: #fff; }

/*Jumbotron*/

.jumbotron {
	background: #fff;
	border-bottom: 1px solid #eee;
	color: #5f6468;
}

/*Tabs*/

.panel .tabs {
	margin: 0;
	padding: 0;
}

.nav-tabs {
	background: #e9ecf2;
	border: 0;
}

.nav-tabs li a:hover {
	background: #fff;
}

.nav-tabs li a,
.nav-tabs li a:hover,
.nav-tabs li.active a,
.nav-tabs li.active a:hover {
	border: 0;
	padding: 15px 20px;
}

.nav-pills {
	padding: 15px;
	padding-bottom: 0;
}

.nav-pills li a,
.nav-pills li a:hover,
.nav-pills li.active a,
.nav-pills li.active a:hover {
	border: 0;
	padding: 7px 15px;
}

.nav-pills li.active a,
.nav-pills li.active a:hover {
	background: #30a5ff;
}

.tab-content {
	padding: 15px;
}


/*Navbar*/

.navbar {
	border: 0;
}

.skflogo{
	width: 3%;
	height: 3%;
	margin-top:1%;
	float:left;
}

.navbar{max-height: 20%;}

.navbar-inverse{
	background: #fff;
}

.navbar input {
	border: 0;
	background: #444;
	color: #fff;
}

.navbar input:focus {
	color: #fff;
	background: #555;
	border: 1px solid #30a5ff;
	outline: 0;
	box-shadow: inset 0px 0px 0px 1px #30a5ff;
}

h1.page-header {
	margin-top: 30px;
	border-bottom: 0;
}

.placeholder h2 {
	margin-bottom: 0px;
}

.panel-heading .glyphicon {
	margin-right: 10px;
}

/*Tables*/
.table {
	background: #fff;
}

.fixed-table-container {
	border: 1px solid #eee;
}

.fixed-table-container thead th {
	background: #f7f7f8;
	border-color: #ddd;
	color: #5f6468;
	font-weight: 300;
	font-size: 16px;
}

.fixed-table-container tbody td {
	border: 1px solid #eee;
}

.fixed-table-container tbody td:last-child {
	border-right: none;
}

.table>thead>tr>th {
	border-bottom: 1px solid #e6e7e8;
	vertical-align: middle;
	height: 50px;
}

.fixed-table-pagination .pagination {
    margin-top: 10px;
    margin-bottom: 0px;
}

.fixed-table-pagination .pagination-detail {
	margin-top: 20px;
}

/*Icons*/

.breadcrumb .glyph {
	height: 14px;
	width: 14px;
	margin: -2px 0 0 0;
	stroke-width: 4px;
}

.alert .glyph, .panel-heading .glyph {
	width: 26px;
	height: 26px;
	margin: 0 10px 0 0;
	stroke-width: 2px;
}

.glyph.table {
	background: none;
	border: none;
}

/*Icon Grid*/

.icon-grid div {
	border: 1px solid #ddd;
	margin: 0 0 -1px -1px;
	text-align: center;
	padding: 10px 0 20px 0;
}

.icon-grid svg {
	width: 35%;
	display: block;
	margin: 0 auto;
}

.icon-grid h4 {
	display: none;
}

.icon-grid pre {
	margin: 10px 10px -10px 10px;
	border-radius: 0;
	font-size: 10px;
	border-color: #ddd;
	height: 65px;
	overflow: scroll;
}

section, header, footer { float: left; width: 100%; position: relative; }

footer > [class*="wide"],
header [class*="wide"],
section > [class*="wide"],
section > div > [class*="wide"] { width: 100%; max-width: 1500px; margin: 0 auto; }
footer > [class*="normal"],
header > [class*="normal"],
section > [class*="normal"],
section > div > [class*="normal"] { width: 100%; max-width: 1024px; margin: 0 auto; } 
footer > [class*="small"],
header > [class*="small"],
section > [class*="small"],
section > div > [class*="small"] { width: 100%; max-width: 800px; margin: 0 auto; } 
footer > .wrap > .inner,
header > .wrap > .inner, 
section > .wrap > .inner { width: 100%; float: left; }

.header { background: #fff; padding: 1em; font-size: 1em; transition: background 0.2s ease-in-out 0s; }
.header .logo svg { display: block; width: auto; height: 4em; fill: #515594; transition: fill 0.2s ease-in-out 0s; }
.header .name { font-weight: 700; color: #515594; font-family: 'Open Sans', sans-serif; transition: all 0.2s ease-in-out 0s; }

/* Center */

.text-center { text-align: center; }

/* Flex */

.flx { display: flex; flex-wrap: wrap; }
.flx-ac { align-items: center; }
.flx-jsb { justify-content: space-between; }

/* Padding */

.pl1 { padding-left: 1em; }
.pt3 { padding-top: 3em; }
.pt6 { padding-top: 6em; }
.pb3 { padding-bottom: 3em; }
.pb6 { padding-bottom: 6em; }

a { color: #515594; transition: all 0.2s ease-in-out 0s; }
a:hover { color: #293093; }
footer { font-size: 0.9em; color: #515594; transition: all 0.2s ease-in-out 0s; }

body .col-md-6 { width: 50%; padding: 0 0.5em; transition: all 0.2s ease-in-out 0s; }
body .page-header { font-family: Hind,sans-serif; font-size: 2.5em; line-height: 1em; margin: 0.5em 0; font-weight: 700; color: #515594; text-transform: uppercase; transition: all 0.2s ease-in-out 0s; }
body.dark .page-header { color: #dd3d40; }
body .col-lg-offset-2 { margin: 0; }
body .panel { box-shadow: 0 0 2em rgba(0,0,0,0.05); background: #fff; border-radius: 1em; overflow: hidden; transition: all 0.2s ease-in-out 0s; }
body .panel-heading { color: #515594; padding: 1em; font-size: 1.5em; transition: all 0.2s ease-in-out 0s; }
body .panel-body { padding: 2em; }
body .btn{ color: #fff; padding: 1em 1.5em; line-height: 1em; transition: all 0.2s ease-in-out 0s; border-radius: 0.5em; border: none; margin: 0.5em 0; }
body .btn.btn-primary { background: #515594; border-color: #515594; color: #fff; }
body .btn.btn-delete { background: #945151; color: #fff; padding: 0.5em 0.5em; line-height: 0.5em; transition: all 0.2s ease-in-out 0s; border-radius: 0.5em; border: none; margin: 0.5em 0; }
body input[type="password"],
body input[type="text"] { height: 3em; padding: 0 1em; font-size: 1em; background: #f1f4f7; border-color: #ccc; border-radius: 0.5em; box-shadow: inset 0 0.25em 0.5em rgba(0,0,0,0.05); line-height: 1em; margin: 0.5em 0; transition: all 0.2s ease-in-out 0s; }
body input[type="password"]:hover,
body input[type="text"]:hover { border-color: #9E9E9E; }

.toggle { margin-left: 1em; }
.toggle .checkbox { opacity: 0; position: absolute; }
.toggle .label { 
	width: 3.7em;
	height: calc(1.5em + 6px);
	background-color: #515594;
	display: flex;
	border-radius: 2em;
	align-items: center;
	justify-content: space-between;
	padding: 0.5em;
	position: relative;
}
.toggle .ball {
	width: 1.5em;
	height: 1.5em;
	background-color: white;
	position: absolute;
	top: 3px;
	left: 3px;
	border-radius: 50%;
	transition: all 0.2s ease-in-out 0s;
	cursor: pointer;
}

.checkbox:checked + .label .ball{ transform: translateX(1.75em); }


.fas { display: block; width: 1em; height: 1em; position: relative; font-style: normal; }
.fas:after { font-family: "fontello"; position: absolute; left: 0; top: 0; width: 1em; height: 1em; line-height: 1em; text-align: center; color: #fff; }
.fa-moon:after { content: "\e8cb"; }
.fa-sun:after { content: "\e8ca"; }

main.container { width: 100%; height: auto; min-height: calc(100vh - 6em); float: left; position: relative; overflow: hidden; padding: 0 1em; }

.seed {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 75vw;
    height: 75vw;
    opacity: .5;
    right: -25%;
	z-index: -1;
}
.seed svg { fill: rgba(255,255,255,0.5); }

body.dark { background-color: #292c35; color: #fff; }
body.dark a { color: #fff; }
body.dark .header { background-color: #33363f; }
body.dark .header .name { color: #fff; }
body.dark .logo svg { fill: #fff; }
body.dark .panel { background: #23262e; color: #fff; }
body.dark .panel-heading { color: #fff; border-color: #292c35; }
body.dark textarea, 
body.dark pre, 
body.dark input[type="password"], 
body.dark input[type="text"] { color: #fff; background: #33363f; border-color: #181a1f; }
body.dark footer { color: #fff; }


@media screen and (max-width: 768px){
	.seed { width: 100vw; height: 100vw; }
	body .page-header { font-size: 2em; }
}


table {
	background-color: transparent;
}
th {
	text-align: left;
}
.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd;
}
.table > thead > tr > th {
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
	border-top: 0;
}
.table > tbody + tbody {
	border-top: 2px solid #ddd;
}
.table .table {
	background-color: #fff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
	padding: 5px;
}
.table-bordered {
	border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
	border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
	border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
	background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
	background-color: #f5f5f5;
}
table col[class*="col-"] {
	position: static;
	display: table-column;
	float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
	position: static;
	display: table-cell;
	float: none;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
	background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
	background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
	background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
	background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
	background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
	background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
	background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
	background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
	background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
	background-color: #ebcccc;
}
@media screen and (max-width: 767px) {
	.table-responsive {
	  width: 100%;
	  margin-bottom: 15px;
	  overflow-x: auto;
	  overflow-y: hidden;
	  -webkit-overflow-scrolling: touch;
	  -ms-overflow-style: -ms-autohiding-scrollbar;
	  border: 1px solid #ddd;
	}
	.table-responsive > .table {
	  margin-bottom: 0;
	}
	.table-responsive > .table > thead > tr > th,
	.table-responsive > .table > tbody > tr > th,
	.table-responsive > .table > tfoot > tr > th,
	.table-responsive > .table > thead > tr > td,
	.table-responsive > .table > tbody > tr > td,
	.table-responsive > .table > tfoot > tr > td {
	  white-space: nowrap;
	}
	.table-responsive > .table-bordered {
	  border: 0;
	}
	.table-responsive > .table-bordered > thead > tr > th:first-child,
	.table-responsive > .table-bordered > tbody > tr > th:first-child,
	.table-responsive > .table-bordered > tfoot > tr > th:first-child,
	.table-responsive > .table-bordered > thead > tr > td:first-child,
	.table-responsive > .table-bordered > tbody > tr > td:first-child,
	.table-responsive > .table-bordered > tfoot > tr > td:first-child {
	  border-left: 0;
	}
	.table-responsive > .table-bordered > thead > tr > th:last-child,
	.table-responsive > .table-bordered > tbody > tr > th:last-child,
	.table-responsive > .table-bordered > tfoot > tr > th:last-child,
	.table-responsive > .table-bordered > thead > tr > td:last-child,
	.table-responsive > .table-bordered > tbody > tr > td:last-child,
	.table-responsive > .table-bordered > tfoot > tr > td:last-child {
	  border-right: 0;
	}
	.table-responsive > .table-bordered > tbody > tr:last-child > th,
	.table-responsive > .table-bordered > tfoot > tr:last-child > th,
	.table-responsive > .table-bordered > tbody > tr:last-child > td,
	.table-responsive > .table-bordered > tfoot > tr:last-child > td {
	  border-bottom: 0;
	}
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
}

input, select, textarea {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	/* width: 100%; */
	min-height: 1.5em;
	border: 1px solid #e6e6e6;
	padding: 0.4em;
	background-color: #fff;
	color: #333332;
	margin-bottom: 1em;
	/* max-width: 100%; */
}

input:hover, select:hover, textarea:hover {
	border: 1px solid #cbd0d1;
}

input:focus, select:focus, textarea:focus {
	border: 1px solid #4850e9;
	outline: 1px solid #4850e9;
}

textarea {
	width: 100%;
}

label {
	color: #999;
	display: block;
	line-height: 25px;
}

input[type=submit], input[type=button], input[type=reset], button {
	font-family: inherit;
	font-size: inherit;
}

.button {
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #6367b3;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: 7px 1em;
	text-align: center;
	text-decoration: none !important;
	white-space: nowrap;
	min-width: 120px;
}

.button.disabled {
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
}

.button:hover:enabled, .button:active:enabled {
	cursor: pointer;
	color: #fff;
}

.button:hover:enabled {
	-o-transition: background-color 0.3s ease, color 0.3s ease;
	-moz-transition: background-color 0.3s ease, color 0.3s ease;
	-webkit-transition: background-color 0.3s ease, color 0.3s ease;
	transition: background-color 0.3s ease, color 0.3s ease;
	background-color: #1b2196;
}

.button:active:enabled {
	-o-transition: none;
	-moz-transition: none;
	-webkit-transition: none;
	transition: none;
	background-color: #10146e;
}

.button.is-large {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 5px 25px;
	min-width: 200px;
	font-size: 24px;
}

.button.is-small {
	padding: 5px 12px;
	min-width: 100px;
	font-size: 14px;
	line-height: 15px;
}

.button.is-warning {
	background-color: #d60000;
}

.button.is-warning:hover:enabled, .button.is-warning:active:enabled {
	background-color: #b50000;
}

.button.is-positiveaction {
	background-color: #70d16d;
}

.button.is-positiveaction:hover:enabled, .button.is-positiveaction:active:enabled {
	background-color: #089800;
}

.button.is-secondaryaction {
	background-color: #999;
}

.button.is-secondaryaction:hover:enabled, .button.is-secondaryaction:active:enabled {
	background-color: #848484;
}

.button a:hover {
	text-decoration: none;
}

button.button {
	border: none;
}

input[type=submit], input[type=button], input[type=reset] {
	text-size-adjust: 100%;
	-webkit-appearance: button;
}

@media only screen and (max-width: 767px) {
		input[type=submit], input[type=button], input[type=reset], button, .btn {
		margin: 1em 0;
	}
}

@media screen and (max-width: 480px) {
		input[type=submit], input[type=button], input[type=reset], button, .btn {
		margin: 2em auto;
		display: block;
		width: 100%;
	}
}

form button {
	display: inline-block;
	margin: 1em 0;
}

.logs {
	width: 100%;
	background: #fff; 
	border-radius: 0.5em;
	overflow: auto;
	padding-left: 5px;
	transition: all 0.2s ease-in-out 0s; 
}