<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Script-Type" content="text/javascript">

  <title>def[dev]eu NOV18-19 BUD</title>
  <meta name="description" content="Defensive development [defdev] is the secure dev training and SSDLC conference series">

  <!-- local style CSS -->
  <link rel="stylesheet" href="https://defdev.eu/ddf/css/local.css" media="screen">

  <link rel="canonical" href="https://defdev.eu/">
  <link rel="alternate" type="XOXapplication/rss+xml" title="XOX" href="http://XOX.eu/feed.xml">

  <link rel="apple-touch-icon" sizes="180x180" href="ddf/fav/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="https://defdev.eu/ddf/fav/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="https://defdev.eu/ddf/fav/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="https://defdev.eu/ddf/fav/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="https://defdev.eu/ddf/fav/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="https://defdev.eu/ddf/fav/manifest.json">
  <link rel="mask-icon" href="https://defdev.eu/ddf/fav/safari-pinned-tab.svg" color="#0bc8a2">
  <meta name="apple-mobile-web-app-title" content="defdeveu">
  <meta name="application-name" content="defdeveu">
  <meta name="theme-color" content="#0bc8a2">

  <script></script>
  <style></style>
</head>

<body>

<section class="hero is-medium has-text-centered ddf-bg-green-caribbean" id="block-head">
  <div class="hero-head ddf-bg-gray-pablo">
    <div class="container">

      <nav class="nav">
        <div class="nav-left">
               
        </div>

        <span id="nav-toggle" class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>

        </nav>

    </div>
  </div>

  <div class="hero-body" >
    <div class="container">

      <div class="level" id="hero-brand">

        <div class="level-left">
          <a class="level-item is-pulled-left is-brand" href="#">
              <img src="https://defdev.eu/ddf/gfx/logo.defdev.1608z.neg.svg" alt="defdev: XOX" style="zoom:90%">
          </a>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="block-subhero" class="hero" >
  <div class="hero-body">
    <div class="container">
<div class="tile is-ancestor is-vertical">
        <div class="tile is-parent">
          <article class="tile is-child notification mod-textblock ddf-bg-gray-pablo ddf-white">
            <blockquote class="subtitle is-4">
              <span class="font-is-title-medium ddf-white-alabaster" style="color:white;">HTTP request methods<br/></span> 
             </blockquote>
          </article>
        </div>
        </div>
        </div>
    </section>

  <section class="hero" id="block-subhero">
   <section id="block-tickets" class="section">
    <form method="post" action="/post">
       <div class="container">
           <p class="notification XOX">
                <label for="lname">POST</label>
                <input type="submit" value="Test me!" class="button is-ticket" style="margin-left:49%;"/>
           </p>
       </div>
       </form>
    </section>
    
    
  <section class="hero" id="block-subhero">
   <section id="block-tickets" class="section">
    <form method="get" action="/get">
       <div class="container">
           <p class="notification XOX">
                <label for="lname">GET</label>
                <input type="submit" value="Test me!" class="button is-ticket" style="margin-left:50%;"/>
           </p>
       </div>
       </form>
    </section>
    
  <section class="hero" id="block-subhero">
   <section id="block-tickets" class="section">
    <form method="put" action="/put">
       <div class="container">
           <p class="notification XOX">
                <label for="lname">PUT</label>
                <input type="submit" value="Test me!" class="button is-ticket" style="margin-left:50%;"/>
           </p>
       </div>
       </form>
    </section>
    
    </div>
    <center>
    <p style="font-size:20px;">
        {% autoescape false %}{{output}}{% endautoescape %}
    </p>
    </center>
  <div class="hero-body">
    <div class="container">
      <div class="tile is-ancestor is-vertical">
        <div class="tile is-parent">
        </div>
      </div>

   </div>
  </div>
</section>

<section id="" class="section ddf-bg-green-caribbean ddf-black" style="background: url('https://defdev.eu/ddf/gfx/symbol.defdev.1608z.green-caribbean-darkened.svg') no-repeat center center; background-size: cover;">
  <div class="container mod-textblock">
    <br><br><br><br><br><br><br>
</section>

<footer class="footer ddf-bg-gray-pablo ddf-gray-merlin">
  <div class="container">
    <div class="content has-text-left">
      <div class="columns is-multiline is-mobile">
        <div class="column is-one-quarter-desktop is-one-third-tablet is-half-mobile">
        </div>        
        <div class="column is-one-quarter-desktop is-one-third-tablet is-half-mobile">
        </div>      
      </div>
    </div>
  </div>
</footer>


<style type="text/css">

label{
font-size:20px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
</style>

</body>

<!-- core js, https://cdnjs.com/ -->

<script 
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script async id="twitter-wjs" 
  src="https://platform.twitter.com/widgets.js"></script>

<!-- local -->
<script src="ddf/js/local.js"></script>
<script src="ddf/js/local.blockable.js"></script>    

<!-- core js contd. -->



</html>
