<!-- <body>
  <div id="fb-root"></div>

  <script>
    (function (d, s, id) {
      var js,
        fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src =
        "//connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v2.8&appId=1477995849196715";
      fjs.parentNode.insertBefore(js, fjs);
    })(document, "script", "facebook-jssdk");
  </script>
</body>

<div
  class="fb-like"
  data-href="https://developers.facebook.com/docs/plugins/"
  data-layout="button_count"
  data-action="like"
  data-size="large"
  data-show-faces="true"
  data-share="true"
></div> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <style>
      body {
        background-color: red;
      }
      h1 {
        color: white;
      }
    </style>
    <h1>pwned</h1>
  </body>
</html>
